img.rt {
  width: 12%;
  margin-right: 2%;
  float:left;
}


li {
  clear:left;
}

/* this is an odd workaround for moving the posts page off the home */
body.layout--posts ul.taxonomy__index, h2.archive__subtitle {
	display: none;
}

/* remove depth on schedule toc */

